{% extends 'base.html.twig' %}
{% block title %} You won ! {% endblock %}
{% block content %}
    <div id="content">

        <h2>Congratulations!</h2>

        <p>
            You found the word <strong>software</strong> and won this game.
        </p>

    </div>
{% endblock %}